body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#mycarousel
{
    background-color: rgb(229, 255, 0);
    
}
#mycarousel img{
    height:300px;
    margin-top:35px;
}
.carousel-inner p{
    font-size:20px;
    color:whitesmoke;
    margin-top:50px;
    
}

